@import "tailwindcss";

.custom-gradient {
  background: linear-gradient(to right, #0f172a 0%, #2e1065 40%, #22d3ee 100%);
}

.custom-gradient-b {
  background: linear-gradient(to bottom, #0f172a 0%, #2e1065 40%, #22d3ee 100%);
}

.text-bgcolor
{
  background: linear-gradient(to right, #2e1065 0%, #22d3ee 100%);
}

.blinking-cursor {
  animation: blink 0.5s step-start infinite;
  color: black;
}

@keyframes blink {
  10% {
    opacity: 0;
  }
}